body {
  margin: 0;
  background-image: url(pass.jpg);
  background-size: cover;
  min-height: 100vh;
  font-family: 'Fira Sans Condensed', sans-serif;

}
div.container {
  max-width: 50%;
  background-color: #ECFDF5;
  border: 1px solid #ECFDF5 ;
  margin:5px 0;
  min-height: auto;
  box-sizing: border-box;
  padding: 50px;
  overflow: scroll;
}

span {
  color: #10B981;
}
button {
  background-color:#10B981;
  padding:0.5rem;
  margin: top 1.8rem;
  margin-bottom:20px;
  cursor: pointer;
  color:#fff;
  border-radius: 5px;
}

div.pass {
  background-color: #273549;
  min-width: 12.5em;
  color: #10B981;
  height:2.5rem;
  border-radius:8px;
  margin-top: 20px;
  margin-left:5px ;
  display: inline-block;
  
  
}